{{define "content"}}
<div class="flex flex-col gap-3 justify-center items-center">
    <button hx-get="/api/card/add">Add card</button>
    <form
        hx-post="/api/card/add"
        class="flex flex-col gap-2 h-full bg-gray-400 p-4 rounded-md"
    >
        <input
            type="text"
            name="cardTitle"
            id="cardTitleInput"
            class="border border-gray-400 rounded-md p-2 text-black"
        />
        <button type="submit">Add card2</button>
    </form>
    <button
        hx-get="/api/card/all"
        hx-target=".card-container"
        hx-swap="outerHTML"
        class="border border-gray-400 rounded-md p-2 text-black"
    >
        Get all cards
    </button>
    <div class="card-container"></div>
</div>
{{end}}
